body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
span{
    color: orangered;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}h3{
    font-size: 20px;
}
section{
    display: flex;
    height: 400px;
    padding-bottom: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 90%;
}
.link-here{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-width{
    width: 50%;
    padding: 5%;
}
.dream-width img{
    width: 100%;
}
.link-here{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
}